section {
  box-sizing: border-box;
}

#page-dataviewer {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

#content-selector {
  width: 100%;
  height: 40vh;
  max-height: 40vh;

  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#content-presentation {
  display: flex;
  width: 100%;
  height: calc(100vh - 40vh);
  box-sizing: border-box;

  flex-direction: column;
  border: 1px solid black;
}

#preview-title {
  width: 100%;
  background-color: rgb(230, 230, 230);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
  box-sizing: border-box;

  .prv-obis {
    font-style: italic;
    font-weight: bold;
    /* margin-left: 1rem; */
  }
}

#preview-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding-left: 1rem;

  overflow: hidden;
}

#attribute-tree-presentation {
  width: 20vw;
  overflow: scroll;
  height: calc(60vh - 2rem);
  border: 1px solid black;
}

.hl {
  font-weight: bolder;
  font-style: italic;

  padding: 0.1em;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
  font-family: "Courier New", Courier, monospace;
  margin-right: 1rem;
}
